<div class="container" >
<form [formGroup]="reactiveForm" class="form-wrapper" novalidate>
  
  <!-- Select  -->
  <div class="selector">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Currency</mat-label>
    <mat-select formControlName="currency" name="food" class="select-field">
      <mat-option *ngFor="let currency of currencyList" [value]="currency">
        {{currency}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
  <!-- Data Range -->
  <div class="data-range-wrapper">
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input
      [formGroup]="reactiveForm"
      [rangePicker]="campaignOnePicker">
      <input matStartDate placeholder="Start date" formControlName="startDate" #startdate>
      <input matEndDate placeholder="End date" formControlName="endDate" #enddate>
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
    <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
  </mat-form-field>
</div>
  <!-- Toggle group -->
  <div>
    <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
      <mat-button-toggle  (click)="getChartData()" (click)="handleChart()" [disabled]="(startdate.value.length === 0 || enddate.value.length === 0)">Chart</mat-button-toggle>
      <mat-button-toggle  (click)="getChartData()"  (click)="handleTable()" [disabled]="(startdate.value.length === 0 || enddate.value.length === 0)">Table</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  
</form>
</div>

  <!-- Chart -->
  <div *ngIf="displayChart" class='canvas-chart'>

    <canvas baseChart width="500" height="200"
  
      [datasets]="lineChartData"
  
      [labels]="lineChartLabels"
  
      [options]="lineChartOptions"
  
      [legend]="lineChartLegend"
  
      [chartType]="lineChartType"
  
      [plugins]="lineChartPlugins">
  
    </canvas>
  
  </div>

    <!-- Table -->
    <div *ngIf="displayTable"> 
      
        <div class="table-wrapper">
                <table class="mat-elevation-z8">
              <thead>
                <tr>
                    
                    <th>Rate  </th>
                    <th>Carency</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of dataSource">
                    <td>{{ item.rate }}</td>
                    <td>{{ item.exchangedate }}</td>
                </tr>
              </tbody>
          </table>
        </div> 
      
    </div>
<router-outlet></router-outlet>
   

